::ng-deep{
    .p-splitter{
        width: 100%;
        background-color: #171717;
        border-radius: none;
        border: none;


    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler{
        margin:5px;
        padding: 10px;
        height: 1rem;
        width: 1rem;
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
        background-color: #3a3a3a;
        color:#fff;
    }
    .p-splitter-horizontal>.p-splitter-gutter{
        background-color: #3a3a3a;
    }


}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
    color:#fdf8f8;


    .header-section{
        height: 5%;
        display: flex;
        position: relative;
        z-index: 10;
        align-items: center;
        padding: 0px 16px;
        border-bottom: 1px solid #3a3a3a;
        outline: none;
        background: #171717;

        .header-grid{
            display: grid;
            gap: 40px;
            grid-template-columns: minmax(200px, 1fr) 245px 1fr;
            width: 100%;
            .icon{
                font-size: 16px;
                font-weight: bold;
                color:#dc6e2a;
            }
            .name{
                font-size: 18px;
                font-weight: bold;
                color:#dc6e2a;
            }
        }

    }
    .code-section{
        height: 65%;
        width: 100%;
    }

    .terminal-section{
        height: 30%;
        background-color: #2e2e2e;
        border-top: 1px solid #3a3a3a;

    }

}